<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profiles</title>
    <link  href="{{ url_for('static', filename='GrinStyle.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='service.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='service-global.css') }}" rel="stylesheet">
</head>
<body>
<ul class="Gnavbar">
    <li class="Gnavbar"><a class="Gnavbar" href="/">Logout</a></li>
    <li class="Gnavbar"><a class="Gnavbar" href="/service">Service</a></li>
    <li class="Gnavbar"><a class="Gnavbar" href="/customers">Customers</a></li>
    <li class="Gnavbar"><a class="Gnavbar" href="/profileEditor">Grin Profiles</a></li>

</ul>
</body>
</html>